In [1]:
import os
import mne
import scipy.io as scio
import pandas as pd
from IPython import display

In [52]:
data_path="../Data/Processed Data/"

In [55]:
def import_subs(data_path="../Data/Processed Data/"):
    # import sub_ids
    sub_ids=[]
    with open('sub_ids.txt', 'r') as file:
        for line in file:
            # Check if the line is not commented out
            if not line.strip().startswith('#'):
                # Extracting the subject ID and ignoring any comments or trailing commas
                sub_id = line.split(',')[0].strip().strip("'")
                if sub_id:
                    sub_ids.append(sub_id)
    print(sub_ids)
    return sub_ids

In [56]:
sub_ids = import_subs(data_path="../Data/Processed Data/")

['007', '008', '009', '010', '013', '014', '015', '018', '020', '021', '022', '023', '024', '027', '029', '030', '031', '032', '033', '034', '035', '036', '037', '038', '039', '040', '041', '042', '043', '044', '045', '046', '048', '049', '050', '051', '052', '053', '054', '055', '056', '057', '058', 'C1.', 'C2.', 'C3.', 'C5.', 'C6.', 'C7.', 'C8.', 'C9.', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21', 'C22', 'C24', 'C25', 'C26', 'C27']

In [57]:
def create_trials_df(sub_ids, data_path="../Data/Processed Data/"):
    # Create an empty DataFrame
    df = pd.DataFrame(columns=['Subject ID', 'Number of Trials'])

    for sub_id in sub_ids:
        try: 
            # Load data
            stim_labels = scio.loadmat(data_path + sub_id + '_stim_labels.mat')
            stim_labels = stim_labels['stim_labels'].tolist()

            # Extract stim_labels
            if type(stim_labels[0]) == list and len(stim_labels[0])==1:
                stim_labels = [el[0] for el in stim_labels]
            else:
                stim_labels = stim_labels[0]

            # Create a temporary DataFrame and add to main DataFrame  
            temp_df = pd.DataFrame({'Subject ID': [sub_id], 'Number of Trials': [len(stim_labels)]})  
            df = pd.concat([df, temp_df], ignore_index=True) 
            
        except Exception as e:
            print(f"Error processing sub_id {sub_id}: {e}")

    # Save DataFrame to CSV
    df.to_csv('Num_Trials_CLBP_EEG_Data.csv', index=False)

    return df

In [58]:
df = create_trials_df(sub_ids)

In [59]:
df

   Subject ID Number of Trials
0         007               37
1         008               33
2         009               77
3         010               67
4         013               58
..        ...              ...
63        C22               59
64        C24               55
65        C25               56
66        C26              117
67        C27               52

[68 rows x 2 columns]